version: "3.9"

networks:
  stud-fit-network:
    driver: "bridge"

services:
  stud-fit-db:
    container_name: stud-fit-db
    image: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    networks:
      - stud-fit-network

  stud-fit-cache:
    container_name: stud-fit-cache
    image: redis:7.2
    ports:
      - "6379:6379"
    networks:
      - stud-fit-network

  stud-fit-api:
    container_name: stud-fit-api
    build: .
    image: deiz0n/stud-fit-api
    command: [ "/app/wait-for-it.sh", "-t", "10", "stud-fit-db:5432", "--", "java", "-jar", "target/studfit-0.0.1-SNAPSHOT.jar" ]
    ports:
      - "80:8080"
    environment:
      HOST: stud-fit-db
      REDIS_HOST: stud-fit-cache
    env_file:
      - .env
    networks:
      - stud-fit-network
    depends_on:
      - stud-fit-db
      - stud-fit-cache
